<div class="row align-items-center" style="margin-top: 70px;">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="text-center">
            <img src="../../../../../../assets/img/logo-purple.png">
        </div>
        <mat-card>
            <mat-card-header>
                <mat-card-title style="font-size: 2em;">Entrar</mat-card-title>
                <mat-card-subtitle>Acesse sua conta para cuidar de suas finanças.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="formLogin">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field style="width: 100% !important;">
                                <input matInput placeholder="CPF" mask="000.000.000-00" formControlName="cpf">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field style="width: 100% !important;">
                                <input matInput placeholder="Digite sua senha"
                                    [type]="esconderSenhaLogin ? 'password' : 'text'" formControlName="senha">
                                <button mat-icon-button matSuffix (click)="esconderSenhaLogin = !esconderSenhaLogin"
                                    [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="esconderSenhaLogin">
                                    <mat-icon>{{esconderSenhaLogin ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="accent" style="width: 100%;" [disabled]="formLogin.invalid || logando"
                    (click)="login()">
                    <mat-icon>input</mat-icon>
                    Entrar
                </button>
                <br>
                <br>
                <mat-progress-bar *ngIf="logando" mode="indeterminate"></mat-progress-bar>
            </mat-card-actions>
        </mat-card>
        <br><br>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="font-size: 2em;">Crie sua conta</mat-card-title>
                <mat-card-subtitle>É grátis e rápido começar a guardar o seu dinheiro.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="formCadastro">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field style="width: 100% !important;">
                                <input matInput placeholder="Nome completo" formControlName="nomeCompleto">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field style="width: 100% !important;">
                                <input matInput placeholder="CPF" mask="000.000.000-00" formControlName="cpf">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field style="width: 100% !important;">
                                <input matInput placeholder="Data de nascimento" [dropSpecialCharacters]="false"
                                    mask="00/00/0000" formControlName="dataNascimento">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field style="width: 100% !important;">
                                <input matInput type="email" placeholder="E-mail" formControlName="email">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field style="width: 100% !important;">
                                <input matInput placeholder="Telefone" mask="(00) 00000-0000"
                                    formControlName="telefone">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field style="width: 100% !important;">
                                <input matInput placeholder="Digite uma senha"
                                    [type]="esconderSenhaCadastro ? 'password' : 'text'" formControlName="senha">
                                <button mat-icon-button matSuffix
                                    (click)="esconderSenhaCadastro = !esconderSenhaCadastro"
                                    [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="esconderSenhaCadastro">
                                    <mat-icon>{{esconderSenhaCadastro ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field style="width: 100% !important;">
                                <input matInput placeholder="Confirme sua senha"
                                    [type]="esconderConfirmacaoSenhaCadastro ? 'password' : 'text'"
                                    formControlName="confirmacaoSenha">
                                <button mat-icon-button matSuffix
                                    (click)="esconderConfirmacaoSenhaCadastro = !esconderConfirmacaoSenhaCadastro"
                                    [attr.aria-label]="'Esconder senha'"
                                    [attr.aria-pressed]="esconderConfirmacaoSenhaCadastro">
                                    <mat-icon>{{esconderConfirmacaoSenhaCadastro ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="accent" style="width: 100%;"
                    [disabled]="formCadastro.invalid || cadastrandoCliente" (click)="cadastrar()">
                    <mat-icon>input</mat-icon>
                    Criar conta
                </button>
                <br>
                <br>
                <mat-progress-bar mode="indeterminate" *ngIf="cadastrandoCliente"></mat-progress-bar>
            </mat-card-actions>
        </mat-card>
    </div>
</div>