<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <img src="../../../assets/img/logo.png" style="max-height: 40px;padding-top: 10px;" alt="">
        </span>
        <span class="toolbar-spacer"></span>
        <button mat-flat-button color="primary">
            <mat-icon>attach_money</mat-icon>
            Depósitos
        </button>
        <button mat-flat-button color="primary">
            <mat-icon>transform</mat-icon>
            Transferências
        </button>
        <button mat-flat-button color="primary">
            <mat-icon>list_alt</mat-icon>
            Movimentações
        </button>
        <button mat-flat-button color="primary">
            <mat-icon>exit_to_app</mat-icon>
            Sair
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<br>
<div class="container">
    <router-outlet></router-outlet>
</div>