<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <a [routerLink]="[ '' ]">
                <img src="../../../assets/img/logo.png" style="max-height: 40px;padding-top: 10px;" alt="">
            </a>
        </span>
        <span class="toolbar-spacer"></span>
        <a mat-flat-button color="primary" [routerLink]="[ '' ]">
            <mat-icon>home</mat-icon>
            Página inicial
        </a>
        <a mat-flat-button color="primary" [routerLink]="[ 'depositos' ]">
            <mat-icon>account_balance</mat-icon>
            Depósitos
        </a>
        <a mat-flat-button color="primary" [routerLink]="[ 'transferencias' ]">
            <mat-icon>attach_money</mat-icon>
            Transferências
        </a>
        <button mat-flat-button color="primary">
            <mat-icon>exit_to_app</mat-icon>
            Sair
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<br>
<div class="container">
    <router-outlet></router-outlet>
</div>