<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Ajuda</mat-card-title>
                <mat-card-subtitle>Está com problemas?</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
                <h2>Entre em contato</h2>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-stroked-button color="accent" style="width: 100%;">
                    <mat-icon>live_help</mat-icon>
                    Solicitar suporte
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Conta</mat-card-title>
                <mat-card-subtitle>Seu número de conta</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-right">
                <h2>0195953-0</h2>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-stroked-button color="accent" style="width: 100%;">
                    <mat-icon>transform</mat-icon>
                    Realizar transferência
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Saldo atual</mat-card-title>
                <mat-card-subtitle>Valor disponível na sua conta</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-right">
                <h2>R$ 150,00</h2>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-stroked-button color="accent" style="width: 100%;">
                    <mat-icon>attach_money</mat-icon>
                    Realizar depósito
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>