<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Ajuda</mat-card-title>
                <mat-card-subtitle>Está com problemas?</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
                <h2>Entre em contato</h2>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-stroked-button color="accent" style="width: 100%;">
                    <mat-icon>live_help</mat-icon>
                    Solicitar suporte
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Conta</mat-card-title>
                <mat-card-subtitle>Seu número de conta</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-right">
                <h2>0195953-0</h2>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-stroked-button color="accent" style="width: 100%;">
                    <mat-icon>transform</mat-icon>
                    Realizar transferência
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Saldo atual</mat-card-title>
                <mat-card-subtitle>Valor disponível na sua conta</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-right">
                <h2>R$ 150,00</h2>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-stroked-button color="accent" style="width: 100%;">
                    <mat-icon>attach_money</mat-icon>
                    Realizar depósito
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-12 text-left">
        <h2>Extrato</h2>
    </div>
    <div class="col-12">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <table style="width: 100%;">
                            <tr class="text-danger">
                                <td class="text-left">
                                    Transferência
                                </td>
                                <td class="text-right">
                                    - R$ 53,30
                                </td>
                            </tr>
                        </table>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-3 col-sm-12 text-left"><b>Conta: </b> 552412-5</div>
                    <div class="col-lg-3 col-md-3 col-sm-12 text-left"><b>Cliente: </b> Alexandre Henrique Beato</div>
                    <div class="col-lg-3 col-md-3 col-sm-12 text-left"><b>CPF: </b> 406.366.988-23</div>
                    <div class="col-lg-3 col-md-3 col-sm-12 text-right">
                        14/10/2019 13:07
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <table style="width: 100%;">
                            <tr class="text-success">
                                <td class="text-left">
                                    Depósito
                                </td>
                                <td class="text-right">
                                    + R$ 100,30
                                </td>
                            </tr>
                        </table>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-3 col-sm-12 text-left"><b>Status: </b> Efetuado</div>
                    <div class="col-lg-3 col-md-3 col-sm-12 text-left"><b>Nome: </b> Alexandre Henrique Beato</div>
                    <div class="col-lg-3 col-md-3 col-sm-12 text-left"><b>CPF: </b> 406.366.988-23</div>
                    <div class="col-lg-3 col-md-3 col-sm-12 text-right">
                        14/10/2019 14:26
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>